@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>


<!-- Mirrored from qr.balparmak.com.tr/?lang=tr by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 26 Mar 2022 13:19:24 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0' >

	<meta name="keywords" content="E-Ticaret,alışveriş,alisveris,ucuz,ucuzluk,sipariş,siparis,taksit,havale,kredi kartı,zaf,qr kod, qr,barkod,barcode" />
	<meta name="description" content="BOSS" />
	<meta name="copyright" content="HeliumGo - Dijital Deneyim Ajansı" />

	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="-1">
	<meta http-equiv="pragma" content="no-cache">

	<title>Tarladan Tüketiciye</title>
    
	<meta property="og:title" content="BOSS" />
	<meta property="og:site_name" content="BOSS"/>
	<meta property="og:url" content="index.html"/>
	<meta property="og:description" content="BOSS" />
	<meta property="og:image" content="image/cover.jpg" />
	<meta property="og:image:type" content="image/jpg" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="627" />
	<meta property="og:type" content="website" />

	<meta name="twitter:image" content="image/cover.jpg" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="BOSS" />
    <meta name="twitter:description" content="BOSS" />

	<link rel="apple-touch-icon" href="image/apple-touch-icon.png">
	<link rel="shortcut icon" href="image/favicon.png">

	<link rel="stylesheet" type="text/css" href="css/main25e6.css">
</head>

<body class="">


	<div id="overlay" style="
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	"></div>


	<div id="wrap" class="">


		<!-- <div id="share" class="share">
			<div class="trigger-close trigger-close-share"></div>
			<div class="share-container center-vh">
				<div class="container">
					<div class="title">Sevdikleriniz ile paylaşın!</div>
					<ul class="share-list">
						<a class="facebook sound-btn" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://www.balparmak.com.tr/"></a>
						<a class="twitter sound-btn" target="_blank" href="https://twitter.com/intent/tweet?original_referer=http://www.balparmak.com.tr/&source=tweetbutton&text=Bal kontrolü için tıklayın!&url=http://www.balparmak.com.tr/&via=balparmak"></a>
						<a class="whatsapp sound-btn visible-mobile" href="whatsapp://send?text=Bal kontrolü için tıklayın! http://www.balparmak.com.tr/"></a>
						<a class="messenger sound-btn visible-mobile" href="fb-messenger://share?link=http://www.balparmak.com.tr/"></a>
						<a class="linkedin sound-btn" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&title=Bal kontrolü için tıklayın!&url=http://www.balparmak.com.tr/"></a>
						<a class="googleplus sound-btn" target="_blank" href="https://plus.google.com/share?url=http://www.balparmak.com.tr/"></a>
						<a class="email sound-btn" href="mailto:?subject=Dijital Yaşım!&body=Bal kontrolü için tıklayın!%0D%0A%0D%0Ahttp://www.balparmak.com.tr/"></a>
					</ul>
				</div>
			</div>
		</div> -->


		<form id="send" style="display: none;">
			<div class="trigger-close trigger-close-send"></div>
			<div class="box center-vh">
				<div class="logo"><img src="image/logo-small.png"></div>
				<div><input type="text" class="form-control" name="name" id="form-name" placeholder="Ad, Soyad"></div>
				<div><input type="text" class="form-control" name="email" id="form-email" placeholder="E-Posta"></div>
				<div><input type="text" class="form-control" name="phone" id="form-phone" placeholder="Telefon"></div>
				<div class="form-control-group">
					<div class="form-control checkbox">
						<input type="checkbox" name="confirmemail" id="form-confirmemail" value="true">
						<label for="form-confirmemail"></label>
					</div>
					<span>E-postayla kampanya ve yeniliklerden<br> haberdar olmak istiyorum.</span>
				</div>
				<div class="form-control-group">
					<div class="form-control checkbox">
						<input type="checkbox" name="confirmsms" id="form-confirmsms" value="true">
						<label for="form-confirmsms"></label>
					</div>
					<span>SMS’le kampanya ve yeniliklerden<br> haberdar olmak istiyorum.</span>
				</div>
				<div><a class="btn trigger-submit-send">GÖNDER</a></div>
			</div>
			<input type="hidden" name="lang" id="form-lang" value="tr">
			<input type="hidden" name="codevalue" id="form-codevalue" value="">
			<input type="hidden" name="codeinput" id="form-codeinput" value="">
			<input type="hidden" name="token" id="form-token" value="d94ae6e2b2ff7f8e41ec543794f9601c">
		</form>


		<div class="page">

						<div class="header">
				<img src="image/aa1.png">
			</div>
			<div class="title">Etiketin üzerindeki (QR) kare kodda bulunan ID numarasını girin.</div>
			<div class="desc">
				<a href="image/preview.png" class="btn-for-input fancybox-popup-image" data-fancybox-type="image">NEREDE?</a>
				<input type="text" class="form-control" name="code" id="form-code" placeholder="(QR) Kare kod ID numarası">
			</div>
			<div class="btn-group vertical">
				<a class="btn trigger-submit-code">Sorgula</a>
			</div>
			<div class="links">
				<ul>
										<li><a href="where.cshtml"><img src="image/flag-en.png">EN</a></li>
									</ul>
			</div>
			

			

			

			

			


						

			

			
		</div>


	</div>


	<script>
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='../www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','UA-83592171-1','auto');ga('send','pageview');
	</script>


	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script type="text/javascript" src="js/main25e6.js?0.0.1"></script>
</body>

<!-- Mirrored from qr.balparmak.com.tr/?lang=tr by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 26 Mar 2022 13:19:33 GMT -->
</html>
